.promo-slider {
  .background-slider {
   width: 100%;
   height:460px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    .slider-line {
      display: flex;
      align-items: center;
      transition: all 1s;
      height: 100%;
      .slider_img{
        height: 95%;
        object-fit:cover;
      }
    }
    .content-promo {
      width: 1200px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      z-index: 1;
      @media only screen and (max-device-width: 1366px) {
        width: calc(300px + (1200 - 300) * ((100vw - 300px) / (1366 - 300)));
    }
      .slider-wrapper {
        display: flex;
        column-gap: 10px;
      margin-top: 70px;
        @media only screen and (max-device-width: 1366px) {
            column-gap: calc(5px + (10 - 5) * ((100vw - 300px) / (1366 - 300)));
        }
        .slider-dot {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background:transparent;
          border: 0.1px solid #878787;
          @media only screen and (max-device-width: 1366px) {
            width: calc(7px + (14 - 7) * ((100vw - 300px) / (1366 - 300)));
            height: calc(7px + (14 - 7) * ((100vw - 300px) / (1366 - 300)));
          }
        
        }
        .active-dot{
            background-color: #878787;
        }
      }
      .content{
        display: flex;
      }
      button{
        border:none;
        background: none;
      }
      .slider-prev{
        margin-right: 20px;
      }
      .text-promo {
        opacity: 0.831;
        width: 514px;
        height: 180px;
        background-color: rgba(255,255,255,0.8313725490196079);
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 33px;
        padding-bottom: 20px;
        @media only screen and (max-device-width: 1366px) {
            width: calc(200px + (514 - 200) * ((100vw - 300px) / (1366 - 300)));
            height: calc(80px + (180 - 80) * ((100vw - 300px) / (1366 - 300)));
            padding-left: calc(20px + (40 - 20) * ((100vw - 300px) / (1366 - 300)));
            padding-right: calc(20px + (40 - 20) * ((100vw - 300px) / (1366 - 300)));
            padding-top: calc(15px + (33 - 15) * ((100vw - 300px) / (1366 - 300)));
        }
        @media only screen and (max-device-width: 1050px) {
          left: 50%;
        }
        .title {
          font-size: 30px;
          text-transform: uppercase;
          color: #000125;
          font-weight: 600;
          z-index: 3;  
          @media only screen and (max-device-width: 1366px) {
            font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1366 - 300)));
        }   
        }
        .description {
            margin-top: 22px;
            margin-bottom: 20px;
          font-size: 20px;
          line-height: 30px;
          color: #000800;
          font-weight: 300;
          z-index: 3;
          text-align: justify;
          @media only screen and (max-device-width: 1366px) {
            font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1366 - 300)));
            line-height: calc(15px + (30 - 15) * ((100vw - 300px) / (1366 - 300)));
            margin-bottom: calc(0px + (20 - 0) * ((100vw - 300px) / (1366 - 300)));
            margin-top: calc(0px + (22 - 0) * ((100vw - 300px) / (1366 - 300)));
        }  
        }
    }
   
    }
  }
}
